/* ***Specification*** */
*{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 19px;
	box-sizing: border-box;
    letter-spacing: 0.02em;
    line-height: 1.2em;
    font-weight: 300;
    color: #fff;
}
body{
    background: #1D1D1D;
}
a, a:hover{
	text-decoration: none;
	color: inherit;
    letter-spacing: 0.02em;
}
ul, li, p, h1, h2, h3, h4, h5, h6{
	list-style: none;
	margin: 0;
	padding: 0;
    letter-spacing: 0.02em;
}
input textarea, input:focus textarea:focus, input:focus-visible textarea:focus-visible, input:active textarea:active, input:target textarea:target{
	outline: none;
    border: none;
}
button{
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.btn{
    width: 212px;
    border-radius: 4px;
    font-size: 20px;
    padding: 12px 0;
    background-color: #E1A121;
    color: #fff;
    font-weight: 400;
    transition: all 0.2s ease; 
}
.btn:hover{
    color: #fff;
    outline: 2px solid #E1A121;
    transform: translateY(-5px);
    outline-offset: 5px;
    border-radius: 4px;
}
.gallery__btn:hover, .team__btn:hover{
    outline-offset: 0px;
    outline: 1px solid #fcc14c;
}
.sub__title, .sub__title span{
    font-size: 100px;
    font-weight: 800;
}
.sub__title span{
    color: #E1A121;
}
/* Header */

.header{
    z-index: 1;
    position: fixed;
    width: 100%;
    padding: 24px  130px;
    background: rgba(35, 35, 35, .1);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}
.logo__img{
    width: 100%;
    max-width: 245px;
}
.nav__item{
    margin-right: 40px;
}
.nav__link{
    color: #F2F2F2;
    font-size: 16px;
}
.nav__link:hover{
    color: #E1A121;
    text-decoration: underline;
    font-weight: 500;
}
.prices{
    color: #E1A121;
    font-size: 16px;
    width: 164px;
    padding: 8px 0;
    border: 1px solid #E1A121;
    border-radius: 4px;
}

/* Main */

.main{
    padding: 276px 0 195px;
    background: url("/img/big-image.png")center center/cover ;
}
.main__title, .main__title-color, .main__title span{
    font-size: 74px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0em;
}
.main__title .main__title-color{
    color: #E1A121;
}
.main__text{
    font-size: 18px;
    color: #E2E2E2;
    margin: 16px 0 43px;
}

/* About */

.about{
    padding: 30px 0 230px;
}
.about__title{
    margin: 108px 0 -110px;
}
.about__info{
    margin-top: 120px;
}
.about__text, .about__text span{
    width: 97%;
    font-size: 22px;
    color: #E2E2E2;
}
.about__text span{
    font-weight: 500;
    color: #E1A121;
}
.about__img{
    width: 100%;
    height: 100%;
    max-width: 480px;
    max-height: 480px;
}

/* Team */

.team__title{
    margin-bottom: 60px;
}
.team__block{
    padding: 80px 40px 60px;
    border-radius: 4px;
    background: #141414;
    transition: all 0.2s ease;
    cursor: pointer;
}
.team__block:hover .team__img{
    transform: scale(1.02);
}
.team__block:hover{
    background-color: #080808;
}
.team__block:hover .team__name{
    text-decoration: underline;
}
.team__img{
    max-width: 285px;
    max-height: 285px;
    border-radius: 50%;
    margin-bottom: 40px;
    transition: all 0.2s ease;
    width: 100%;
    height: auto;
}
.team__name{
    font-size: 30px;
    color: #E1A121;
    margin-bottom: 20px;
}
.team__position{
    font-size: 22px;
}
.team__btn{
    margin-top: 60px;
    width: 170px;
    padding: 9px 0;
}

/* TeamPage */
.teamPage{
    padding: 274px 0 317px ;
}
.teamPage__title{
    margin-bottom: 30px;
}
.teamPage__info{
    margin-bottom: 300px;
}
.teamPage__name{
    font-size: 34px;
    color: #E1A121;
    font-weight: 600;
    margin-bottom: 20px;
}
.teamPage__desc{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    width: 98%;
}
.teamPage__image{
    position: relative;
}
.teamPage__img{
    width: 466px;
    height: 466px;
    border-radius: 50%;
}
.teamPage__img-first{
    margin-top: -130px;
}
.teamPage__position{
    width: 256px;
    padding: 11px 30px;
    position: absolute;
    bottom: 25px;
    right: 0;
    background: #fff;
    color: #1D1D1D;
    font-size: 20px;
    font-weight: 500;
}
.teamPage__position-second{
    left: 0;
}
/* Times */

.times{
    padding: 213px 0 230px;
}
.times__title{
    margin-bottom: 60px;
}
.times__week{
    width: 8%;
    border-radius: 4px;
    font-size: 22px;
    font-weight: 500;
}
.times__desc, .times__desc span{
    width: 25%;
    border-radius: 4px;
    font-size: 22px;
}
.times__desc-second{
    width: 32.5%;
    border-radius: 4px;
    font-weight: 300;
}
.times__title-day, .times__title-time{
    background: #E1A121;
    padding: 12px 0 11px 12px;
    margin: 0 15px 12px 0;
    font-weight: bold;
    color: #1D1D1D;
}
.times__content-day, .times__content-time{
    background: #3B3B3B;
    padding: 36px 0 37px 12px;
    margin: 0 15px 12px 0;
}
.times__content-day{
    color: #141414;
    background: #fff;
    font-weight: bold;
}
.times__group .text-end{
    padding-right: 15px;
}
.times__week{
    padding-left: 0;
}
.times__empty{
    background: rgba(59, 59, 59, 0.3)
}
.times__kids{
    color: #289666;
    font-weight: bold;
}
.times__weekend{
    background: #1D1D1D;
    color: #fff;
}
.times__content-weekend{
    border: 2px solid #E1A121;
    color: #fff;
    font-weight: bold;
}
.times__content-weekend span{
    color: #E1A121;
    font-weight: bold;
}

/* Gallery */

.gallery__title{
    margin-bottom: 60px;
}
.gallery__item{
    position: relative;
    padding: 0 15px 10px 0;
    opacity: 0.8;
    transition: all 0.5s ease;
}
.gallery__item:hover, .gallery__item:hover .gallery__zoom{
    opacity: 1;
}
.gallery__img{
    width: 100%;
    height: 300px;
}
.gallery__zoom{
    position: absolute;
    top: 41%;
    right: 50%;
    transition: all 0.5s ease;
    opacity: 0;
    cursor: pointer;
}
.gallery__btn{
    margin-top: 60px;
}

/* Gallery Page */
.galleryPage{
    padding: 274px 0 350px;
}
.galleryPage__title{
    margin-bottom: 100px;
}
.galleryPage__img{
    width: 100%;
    height: 300px;
}
.galleryPage__item{
    position: relative;
    margin-bottom: 15px;
    margin-left: -15px;
    opacity: 0.8;
    transition: all 0.5s ease;
}
.galleryPage__item:hover, .galleryPage__item:hover .galleryPage__zoom{
    opacity: 1;
}
.galleryPage__img{
    width: 100%;
    height: 300px;
}
.galleryPage__zoom{
    position: absolute;
    top: 41%;
    right: 50%;
    transition: all 0.5s ease;
    opacity: 0;
    cursor: pointer;
}
/* Price */

.price{
    padding: 230px 0;
}
.price__title{
    margin-bottom: 60px;
}
.price__item{
    height: 430px;
    width: 19%;
    position: relative;
    margin-right: 20px;
}
/* Price items colors */
.price__item-one .price__block-bottom:after{
    background: #E1A121;
}
.price__item-one .price__values{
    outline: 2px solid #E1A121;
}
.price__item-two .price__block-bottom:after{
    background: #E16921;
}
.price__item-two .price__values{
    outline: 2px solid #E16921;
}
.price__item-three .price__block-bottom:after{
    background: #289666;
}
.price__item-three .price__values{
    outline: 2px solid #289666;
}
.price__item-four .price__block-bottom:after{
    background: #289692;
}
.price__item-four .price__values{
    outline: 2px solid #289692;
}
.price__item-five .price__block-bottom:after{
    background: #8B9291;
}
.price__item-five .price__values{
    outline: 2px solid #8B9291;
}
.price__subtitle{
    font-size: 30px;
    font-weight: 600;
    color: #1D1D1D;
    width: 100%;
    padding: 24px 0 25px;
    background: #E1A121;
    margin-bottom: 30px;
}
.price__desc, .price__desc span{
    font-size: 17px;
}
.price__desc span{
    font-weight: 500;
}
.price__block-top{
    position: absolute;
    width: 100%;
    height: 68%;
    top: 0;
    background: #343434;
    z-index: -1;
}
.price__block-bottom{
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: #272727;
    z-index: -1;
}
.price__block-bottom:after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    height: 10px;
    width: 100%;
}
.price__values{
    position: absolute;
    top: 53%;
    right: 20%;
    outline-offset: -17px;
    border-radius: 50%;
    height: 139px;
    width: 139px;
    background: #656565;
    border: 10px solid #1D1D1D;
}
.price__figure{
    font-size: 36px;
    font-weight: bold;
}
.price__currency{
    font-size: 16px;
    text-transform: uppercase;
}
.footer{
    background: rgba(0, 0, 0, 0.9);
    padding: 65px 0 59px;
}
.footer__title, .footer__title span{
    font-size: 50px;
    margin-bottom: 40px;
}
.footer__form{
    margin-top: 15px;
}
.footer__label{
    position: relative;
    width: 100%;
}
.footer__img-email{
    position: absolute;
    top: 8px;
    right: 15px;
}
.footer__input{
    background: #1D1D1D;
    width: 100%;
    padding: 11px 0 9px 12px;
    font-size: 18px;
    color: rgba(242, 242, 242, 0.8);
    border: none;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1.5px solid rgba(0, 0, 0, 0);
}
.footer__input:focus, .footer__input:focus-visible, .footer__input:active textarea:active, .footer__input:target{
	outline: none;
}
.footer__input:hover{
    border: 1.5px solid #F2F2F230;
}
.footer__input-textarea{
    height: 140px;
}
.footer__btn{
    width: 122px;
    border: 1px solid #E1A121;
    padding: 9px 0 8px 10px;
    color: #E1A121;
}
.footer__text, .footer__email{
    font-size: 18px;
    color: #E2E2E2;
}
.footer__email{
    color: #E1A121;
}
.footer__maps{
    width: 100%;
    height: 320px;
}
.footer__btn:hover, .prices:hover{
    color: #E1A121;
    border: 2px solid;
    font-weight: 600;
}
.footer__social{
    margin-top: -60px;
}
.footer__social-icon img:hover{
    filter: invert(27%) sepia(22%) saturate(4427%) hue-rotate(342deg) brightness(92%) contrast(91%);
}

/* Media query */

@media (max-width: 1400px){
    .price__values{
        right: 15%;
    }
}
@media (max-width: 1200px){
    .price__values{
        right: 8%;
    }
    .nav__item{
        margin-right: 20px;
    }
    .teamPage, .galleryPage {
        padding: 130px 0 ;
    }
    .teamPage__title{
        text-align: center;
    }
    .teamPage__info{
        margin-bottom: 100px;
    }
    .teamPage__img-first{
        margin-top: 0;
    }
    .teamPage__img{
        max-width: 466px;
        max-height: 466px;
        width: 100%;
        height: auto;
    }
    .footer__social{
        margin-top: -40px;
    }
}
@media (max-width: 992px){
    
    .header{
        padding: 24px 50px;
    }
    .nav__item{
        margin-bottom: 10px;
    }
    .nav__list{
        flex-direction: column;
        align-items: center;
    }
    .main{
        background: url(/img/big-image.png)80% center/cover;
    }
    .sub__title, .sub__title span{
        margin: 40px 0;
        text-align: center;
    }
    .main__title, .main__title-color, .main__title span{
        font-size: 65px;
    }
    .main__text{
        font-size: 17px;
    }
    .about__img{
        width: 100%;
        height: auto;
        max-width: 480px;
        max-height: 480px;
    }
    .team__block{
        padding: 30px 10px;
    }
    .team__img{
        width: 100%;
        height: auto;
    }
    .price__subtitle{
        font-size: 25px;
    }
    .price__values{
        right: 15%;
    }
    .price__item{
        width: 30%;
        margin-bottom: 20px;
    }
    .times__desc, .times__desc span{
        font-size: 17px;
    }
    .footer__logo{
        margin: 40px 0;
    }
    .footer__form, .footer__maps {
        margin-bottom: 40px;
    }
}
@media (max-width: 768px){
    
    .about{
        padding: 30px 0 130px;
    }
    .sub__title, .sub__title span{
        margin: 40px 0;
        text-align: center;
    }
    .about__info{
        margin-top: 0;
    }
    .about__img{
        margin-bottom: 20px;
        max-width: 100%;
        max-height: 100%;
    }
    .about__text{
        margin-bottom: 80px;
    }
    .team__block{
        padding: 20px;
    }
    .team__name{
        font-size: 22px;
    }
    .team__position{
        font-size: 18px;
    }
    .times__content-day, .times__content-time{
        padding: 20px 0 20px 12px;
    }
    .times__desc, .times__desc span, .times__week{
        font-size: 16px;
    }
    .times__kids, .times__week{
        display: flex;
        align-items: center;
        text-align: center;
    }
    .times__week{
        padding-left: 8px;
    }
    .price__values{
        right: 15%;
    }
    .footer__title, .footer__title span{
        font-size: 39px;
    }
    .footer__text, .footer__email{
        font-size: 16px;
    }
}
@media (max-width: 767px) {
    .header{
        padding: 15px 0;
        background: #151515;
        backdrop-filter: blur(0);
        -webkit-backdrop-filter: blur(0px);
    }
    .logo__img{
        max-width: 320px;
    }
    .burger{
        margin-right: 25px;
    }
    .nav__list{
        margin-top: 80px;
    }
    .nav__item{
        margin-bottom: 40px;
    }
    .nav__link{
        font-weight: 500;
    }
    .prices{
        background: #E1A121;
        font-weight: 500;
        color: #151515;
        margin-bottom: 80px;
        padding: 12px 0;
        margin-right: 0;
    }
    .main{
        padding: 224px 0 177px;
        background: url(../img/big-image-m.png);
    }
    .main__title, .main__title-color, .main__title span{
        font-size: 31px;
        text-align: center;
    }
    .main__text{
        font-size: 17px;
        text-align: center;
        margin: 30px 0 178px;
    }
    .sub__title, .sub__title span{
        font-size: 37px;
    }
    .about{
        padding: 130px 0 0;
    }
    .about__text, .about__text span{
        font-size: 17px;
    }
    .team__block{
        margin-bottom: 30px;
    }
    .team__img{
        max-width: 100%;
        max-height: 100%;
    }
    .team__name{
        font-size: 24px;
    }
    .team__position{
        font-size: 17px;
    }
    .teamPage__info{
        margin-bottom: 0;
    }
    .teamPage__name{
        text-align: center;
    }
    .teamPage__img{
        margin-bottom: 30px;
    }
    .teamPage__name{
        margin-bottom: 30px;
    }
    .teamPage__position{
        width: 35%;
        padding: 0;
        position: static;
        background: none;
        color: #fff;
        font-size: 17px;
        font-weight: 400;
        margin: 0 auto 30px;
    }
    .teamPage__desc{
        color: #E2E2E2;
        font-size: 17px;
        margin-bottom: 96px;
    }
    .times__desc, .times__desc span, .times__week{
        font-size: 17px;
    }
    .times__desc span{
        font-weight: 600;
        color: #E1A121;
        display: block;
        margin: 0 auto 16px;
    }
    .times__week, .times__desc{
        width: auto;
    }
    .times__kids, .times__week{
        display: block;
    }
    .times__content-day, .times__content-time{
        padding: 22px 0;
        margin: 0 0 12px 0;
    }
    .times__desc, .times__desc span{
        width: auto;
    }
    .times__weekend{
        background: #1D1D1D;
    }
    .gallerty__slick{
        padding-left: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .gallery__item{
        width: 48%;
        padding-right: 15px;
    }
    .price__item{
        width: 100%;
        background: #343434;
        height: auto;
        margin: 0 10px 24px;
        padding: 30px 0;
    }
    .price__subtitle{
        background: none;
        font-size: 30px;
        color: #fff;
        padding: 0 0 87px 0;
    }
    .price__item-one .price__values, .price__item-two .price__values, .price__item-three .price__values, .price__item-four .price__values, .price__item-five .price__values{
        outline: none;
    }
    .price__item-one .price__values p{
        color: #E1A121;
    }
    .price__item-two .price__values p{
        color: #E16921;
    }
    .price__item-three .price__values p{
        color: #289666;
    }
    .price__item-four .price__values p{
        color: #289692;
    }
    .price__item-five .price__values p{
        color: #8B9291;
    }
    .price__values{
        position: static;
        outline-offset: 0;
        border-radius: none;
        height: auto;
        width: auto;
        background: none;
        border: none;
    }
    .price__figure{
        font-size: 38px;
        color: #E1A121;
    }
    .price__currency{
        font-size: 16px;
        color: #E1A121;
    }
    .price__desc{
        font-size: 17px;
    }
    .footer{
        padding: 0px 0 60px;
    }
    .footer__text{
        font-size: 18px;
    }
    .footer__text-info{
        margin-bottom: 60px;
    }
    .footer__social{
        margin-top: 60px;
    }
}
@media (max-width: 480px) {
    .gallerty__slick{
        padding-left: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .gallery__item{
        width: 48%;
        padding-right: 15px;
    }
}