/* ***Specification*** */
*{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 19px;
	box-sizing: border-box;
    letter-spacing: 0.02em;
    line-height: 1.2em;
    font-weight: 300;
    color: #fff;
}
body{
    background: #1D1D1D;
}
a, a:hover{
	text-decoration: none;
	color: inherit;
    letter-spacing: 0.02em;
}
ul, li, p, h1, h2, h3, h4, h5, h6{
	list-style: none;
	margin: 0;
	padding: 0;
    letter-spacing: 0.02em;
}
input{
	outline: none;
}
button{
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.btn{
    width: 212px;
    border-radius: 4px;
    font-size: 20px;
    padding: 12px 0;
    background-color: #E1A121;
    color: #fff;
    font-weight: 400;
}
.sub__title, .sub__title span{
    font-size: 100px;
    font-weight: 800;
}
.sub__title span{
    color: #E1A121;
}
/* Header */

.header{
    position: fixed;
    width: 100%;
    padding: 24px  130px;
    background: rgba(35, 35, 35, .1);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}
.nav__item{
    margin-right: 40px;
}
.nav__link{
    color: #F2F2F2;
    font-size: 16px;
}
.prices{
    color: #E1A121;
    font-size: 16px;
    width: 164px;
    padding: 8px 0;
    border: 1px solid #E1A121;
    border-radius: 4px;
}


/* Main */

.main{
    padding: 276px 0 195px;
    background: url("/img/big-image.png")center center/cover ;
}
.main__title, .main__title span{
    font-size: 74px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0em;
}
.main__title span{
    color: #E1A121;
}
.main__text{
    font-size: 18px;
    color: #E2E2E2;
    margin: 16px 0 43px;
}

/* About */

.about{
    padding: 30px 0 230px;
}
.about__title{
    margin: 108px 0 -110px;
}
.about__info{
    margin-top: 120px;
}
.about__text, .about__text span{
    width: 97%;
    font-size: 22px;
    color: #E2E2E2;
}
.about__text span{
    font-weight: 500;
    color: #E1A121;
}
.about__img{
    width: 480px;
    height: 480px;
}

/* Team */

.team__title{
    margin-bottom: 60px;
}
.team__block{
    padding: 80px 60px 60px;
    border-radius: 4px;
    background: #141414;
}
.team__img{
    width: 285px;
    height: 285px;
    border-radius: 50%;
    margin-bottom: 40px;
}
.team__name{
    font-size: 30px;
    color: #E1A121;
    margin-bottom: 20px;
}
.team__position{
    font-size: 22px;
}
.team__btn{
    margin-top: 60px;
    width: 170px;
    padding: 9px 0;
}

/* Times */

.times{
    padding: 213px 0 230px;
}
.times__title{
    margin-bottom: 60px;
}
.times__week{
    width: 8%;
    border-radius: 4px;
    font-size: 22px;
    font-weight: 500;
}
.times__desc, .times__desc span{
    width: 25%;
    border-radius: 4px;
    font-size: 22px;
}
.times__desc-second{
    width: 32.5%;
    border-radius: 4px;
    font-weight: 300;
}
.times__title-day, .times__title-time{
    background: #E1A121;
    padding: 12px 0 11px 12px;
    margin: 0 15px 12px 0;
    font-weight: bold;
    color: #1D1D1D;
}
.times__content-day, .times__content-time{
    background: #3B3B3B;
    padding: 36px 0 37px 12px;
    margin: 0 15px 12px 0;
}
.times__content-day{
    color: #141414;
    background: #fff;
    font-weight: bold;
}
.times__group .text-end{
    padding-right: 15px;
}
.times__week{
    padding-left: 0;
}
.times__empty{
    background: rgba(59, 59, 59, 0.3)
}
.times__kids{
    color: #289666;
    font-weight: bold;
}
.times__weekend{
    background: #1D1D1D;
    color: #fff;
}
.times__content-weekend{
    border: 2px solid #E1A121;
    color: #fff;
    font-weight: bold;
}
.times__content-weekend span{
    color: #E1A121;
    font-weight: bold;
}

/* Gallery */

.gallery__title{
    margin-bottom: 60px;
}
.gallery__item{
    position: relative;
    padding: 0 15px 10px 0;
    opacity: 0.8;
    transition: all 0.5s ease;
}
.gallery__item:hover, .gallery__item:hover .gallery__zoom{
    opacity: 1;
}
.gallery__img{
    width: 100%;
    height: 300px;
}
.gallery__zoom{
    position: absolute;
    top: 41%;
    right: 50%;
    transition: all 0.5s ease;
    opacity: 0;
    cursor: pointer;
}
.gallery__btn{
    margin-top: 60px;
}

/* Price */

.price{
    padding: 230px 0;
}
.price__title{
    margin-bottom: 60px;
}
.price__item{
    height: 430px;
    width: 19%;
    position: relative;
    margin-right: 20px;
}
/* Price items colors */
.price__item-one .price__block-bottom:after{
    background: #E1A121;
}
.price__item-one .price__values{
    outline: 2px solid #E1A121;
}
.price__item-two .price__block-bottom:after{
    background: #E16921;
}
.price__item-two .price__values{
    outline: 2px solid #E16921;
}
.price__item-three .price__block-bottom:after{
    background: #289666;
}
.price__item-three .price__values{
    outline: 2px solid #289666;
}
.price__item-four .price__block-bottom:after{
    background: #289692;
}
.price__item-four .price__values{
    outline: 2px solid #289692;
}
.price__item-five .price__block-bottom:after{
    background: #8B9291;
}
.price__item-five .price__values{
    outline: 2px solid #8B9291;
}
.price__subtitle{
    font-size: 30px;
    font-weight: 600;
    color: #1D1D1D;
    width: 100%;
    padding: 24px 0 25px;
    background: #E1A121;
    margin-bottom: 30px;
}
.price__desc, .price__desc span{
    font-size: 17px;
}
.price__desc span{
    font-weight: 500;
}
.price__block-top{
    position: absolute;
    width: 100%;
    height: 68%;
    top: 0;
    background: #343434;
    z-index: -1;
}
.price__block-bottom{
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: #272727;
    z-index: -1;
}
.price__block-bottom:after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    height: 10px;
    width: 100%;
}
.price__values{
    position: absolute;
    top: 53%;
    right: 20%;
    outline-offset: -17px;
    border-radius: 50%;
    height: 139px;
    width: 139px;
    background: #656565;
    border: 10px solid #1D1D1D;
}
.price__figure{
    font-size: 36px;
    font-weight: bold;
}
.price__currency{
    font-size: 16px;
    text-transform: uppercase;
}

.footer{
    background: rgba(0, 0, 0, 0.9);
    padding: 65px 0 59px;
}
.footer__title, .footer__title span{
    font-size: 50px;
    margin-bottom: 40px;
}
.footer__form{
    margin-top: 15px;
}
.footer__label{
    position: relative;
    width: 100%;
}
.footer__img-email{
    position: absolute;
    top: 8px;
    right: 15px;
}
.footer__input{
    background: #1D1D1D;
    width: 100%;
    padding: 11px 0 9px 12px;
    font-size: 18px;
    color: rgba(242, 242, 242, 0.8);
    border: none;
    border-radius: 4px;
    margin-bottom: 16px;
}
.footer__input-textarea{
    height: 140px;
}
.footer__btn{
    width: 122px;
    border: 1px solid #E1A121;
    padding: 9px 0 8px 10px;
    color: #E1A121;
}
.footer__text, .footer__email{
    font-size: 18px;
    color: #E2E2E2;
}
.footer__email{
    color: #E1A121;
}
.footer__maps{
    width: 100%;
    height: 320px;
}